*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html{
    width: 100%;
    background-color: #f4f4f4;
}

header{
    position: sticky;
    top: 0;
    z-index: 100;
}

h2{
    margin-bottom: 5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 3rem;
    text-decoration: underline;
}

span{
    color: #84b09b;
}

/* HEADER */

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #84b09b;
    height: 5rem;
    color: rgba(84, 84, 236, 0.856);
}

.navbar__name p{
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-family: 'Roboto Mono', monospace;
    font-style: italic;
    font-weight: 400;
}

.navbar__name a {
    text-decoration: none;
}

.navbar__menu{
   
}

.navbar__menu a {
    padding: 1rem;
    text-decoration: none;
    color: rgb(134, 123, 123);
}


/* PRESENTACION */

#presentacionContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 8rem;
}


.presentacion {
    width: 75vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 5rem 0 20rem;
}

.presentacion h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300 ;
}


.presentacion img{
    max-height: 12rem;
    border-radius: 50px;
}

.presentacion__logos{
    width: 50vw;
    margin-bottom: 20rem;
}

.presentacion__logos img {
    width: 5rem;
    margin-right: 1.5rem;
}

@media screen and (max-width: 1000px){

    .presentacion{
        flex-direction: column;
        margin: 0 0 3rem;
    }

    .presentacion img{
        margin-top: 2rem;
    }

    .presentacion__logos{
        display: flex;
        justify-content: center;
    }

    .presentacion__logos img {
        width: 3rem;
    }

   
}



/* SOBRE MI  */

#sobreMiContainer , #proyectoContainer,#tecnologiasContainer, #contactameContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.sobreMi{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 3rem 20rem 3rem;
    width: 70vw;
}

.sobreMi__foto img {
    width: 15rem;
}

.sobreMi__texto  {
    width: 45%;
    height: 10%;
    text-align: center;
    margin-left: 3rem;
    font-family: 'Roboto', sans-serif;
}

.sobreMi__texto p  {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300 ;
}

@media screen and ( max-width:1000px){

    .sobreMi__texto{
        width: 30rem;
        margin: 3rem 0 ;
    }
    
    h2{
        margin-bottom: 3rem;
        font-size: 2.7rem;
    }
}

@media screen and ( max-width:720px){

    .sobreMi__texto{
        width: 15rem;
    }
    .sobreMi{
        flex-direction: column;
        margin-bottom: 5rem;
    }

    h2{
        font-size: 1.5rem;
    }
}

/* TECNOLOGIAS */

#tecnologiasContainer{
    margin-bottom: 15rem;
}

.tecnologias img {
    width: 7rem;
    margin: 1rem;
}

.tecnologias img:hover {

}

@media screen  and ( max-width: 1000px){

    #tecnologiasContainer{
        margin-bottom: 7rem;
    }

    .tecnologias img {
        width: 4rem !important;

    }

    .tecnologias{
        width: 20rem;
    }
}
    




/* PROYECTOS */

.proyecto{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 60vw;
    margin-bottom: 10rem;
}

.proyecto__img img{
    width: 30rem;
    margin-right: 3rem;
}

.proyecto__descripcion{
    min-width: 10rem;
    font-family: 'Roboto', sans-serif;

}

.proyecto__descripcion h3{
    margin-bottom: 1.5rem;
}

@media screen and (max-width: 1000px){

    .proyecto__img img {
        width: 20rem;
    }
}

@media screen and (max-width: 720px){

    .proyecto__img img {
        width: 15rem;
    }

   .proyecto{
       flex-direction: column;
       align-items: center;
       margin-bottom: 5rem;
   }

    .proyecto__descripcion h3, .protecto__img img{
        display: flex;
        align-items: center;
        justify-content: center;
        
    }   
    .proyecto__img img {
        margin-right: 0;
    }
}



/* CONTACTAME */

.contactame__formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 35vw;
}

.contactame__formulario input, .contactame__formulario textarea{
   margin: 0.5rem 0 0.5rem;
}

.contactame__mail {
    margin: 3rem 0 3rem;
    font-family: 'Roboto Mono', monospace; 
    display: flex;
    justify-content: center;

}

@media screen and (max-width:1360px){
    
    .contactame__formulario{
        width: 60vw;
    }
}

@media screen and (max-width:720px){

    .contactame{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .contactame__formulario{
        width: 90vw;
        align-items: center;
    }

    .contactame__formulario input, .contactame__formulario textarea{
        width: 80vw;
     }

     .contactame__mail{
         font-size: 0.8rem;
     }
}


@media screen and (max-width:450px){

    .contactame__mail{
        font-size: 0.5rem;
    }
}

#presentacionContainer ,#sobreMiContainer , .proyecto ,.p2 , .p3 , .p4, #tecnologiasContainer, #contactameContainer{
    opacity: 0;
    transform: scale(0.7);
    transition: 1s ease-in-out all ;
}

#presentacionContainer.visible , #sobreMiContainer.visible , .proyecto.visible , .p2.visible , .p3.visible , .p4.visible , #tecnologiasContainer.visible , #contactameContainer.visible{
    opacity: 1;
    transform: scale(1);
}

